src/wsdl/100.134.1.191_1050/wsiotramitesgd/Tramite.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.wsiotramite.segdi.gob.pe/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.wsiotramite.segdi.gob.pe/" name="Tramite">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.wsiotramite.segdi.gob.pe/" schemaLocation="http://100.134.1.191:1050/wsiotramitesgd/Tramite?xsd=1"/>
</xsd:schema>
</types>
<message name="recepcionarTramiteResponse">
<part name="parameters" element="tns:recepcionarTramiteResponse"/>
</message>
<message name="recepcionarTramiteResponseResponse">
<part name="parameters" element="tns:recepcionarTramiteResponseResponse"/>
</message>
<message name="cargoResponse">
<part name="parameters" element="tns:cargoResponse"/>
</message>
<message name="cargoResponseResponse">
<part name="parameters" element="tns:cargoResponseResponse"/>
</message>
<message name="consultarTramiteResponse">
<part name="parameters" element="tns:consultarTramiteResponse"/>
</message>
<message name="consultarTramiteResponseResponse">
<part name="parameters" element="tns:consultarTramiteResponseResponse"/>
</message>
<portType name="Tramite">
<operation name="recepcionarTramiteResponse">
<input wsam:Action="http://ws.wsiotramite.segdi.gob.pe/Tramite/recepcionarTramiteResponseRequest" message="tns:recepcionarTramiteResponse"/>
<output wsam:Action="http://ws.wsiotramite.segdi.gob.pe/Tramite/recepcionarTramiteResponseResponse" message="tns:recepcionarTramiteResponseResponse"/>
</operation>
<operation name="cargoResponse">
<input wsam:Action="http://ws.wsiotramite.segdi.gob.pe/Tramite/cargoResponseRequest" message="tns:cargoResponse"/>
<output wsam:Action="http://ws.wsiotramite.segdi.gob.pe/Tramite/cargoResponseResponse" message="tns:cargoResponseResponse"/>
</operation>
<operation name="consultarTramiteResponse">
<input wsam:Action="http://ws.wsiotramite.segdi.gob.pe/Tramite/consultarTramiteResponseRequest" message="tns:consultarTramiteResponse"/>
<output wsam:Action="http://ws.wsiotramite.segdi.gob.pe/Tramite/consultarTramiteResponseResponse" message="tns:consultarTramiteResponseResponse"/>
</operation>
</portType>
<binding name="TramitePortBinding" type="tns:Tramite">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="recepcionarTramiteResponse">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cargoResponse">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarTramiteResponse">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Tramite">
<port name="TramitePort" binding="tns:TramitePortBinding">
<soap:address location="http://100.134.1.191:1050/wsiotramitesgd/Tramite"/>
</port>
</service>
</definitions>